/* responsive section  */
@media screen and (max-width:600px) {
    nav {
        flex-direction: column;

    }

    .nav-title {
        font-size: 20px;
        font-weight: 800;
    }

    .banner-heading {
        font-size: 22px;
        color: #333;
    }

    .banner-descriotion {
        font-size: 14px;
        width: 304px;
    }

    .input-section {
        display: flex;
        width: 287px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .banner-section > img {
        
    }

    /* header part end  */


    .tour-section{
        flex-direction: column;
        padding: 100px;
    }
    .tour-section-title{
font-size: 20px;
    }
    .tour-section-description{
        font-size: 12px;
    }
    .populat-tour-image {
        width: 540px;
        height: 550px;
        padding-left: -250px;
    }
    .destination-text-section{
        text-align: left;

    }
    .image-column1{
        flex-direction: column;
    }
    .image-column2{
        flex-direction: column;
    }
    .image-column3{
        flex-direction: column;
    }
    .choose-us-text-part{
        text-align: center;
        /* flex-direction: column; */

    }
    .choose-us-heading{
        font-size: 20px;
        text-align: center;
    }
    .choose-us-description{
        
font-size: 12px;
font-weight: 400;
/* flex-direction: column; */

    }

  .column-container{
    flex-direction: column;
    width: 335px;
height: 289px;
  }
  .single-column{
  width: 335px;
  height: 289px;
}




}














@media (min-width: 993px) {
  
    
    nav {
        flex-direction: row;
    }

    nav>ul {
        flex-direction: row;
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

}